<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="Name" value="" />
		<add key="IsLogWrite" value="True" />
		<add key="DestinationPath" value="G:\testing\patch" />
		<add key="SourcePath" value="G:\testing\sourcefile" />
	</appSettings>
</configuration>